* {
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
.header {
	color: white;
	background-color: black;
	grid-area: header;
	padding: 30px;
	text-align: center;
	font-size: 35px;
}

/* The grid container */
.grid-container {
	display: grid;
    font-size: 50%; 
    grid-auto-columns: 1fr;
	grid-template-areas: 'header header header header header header' 
    'left left middle middle right right' 
    'footer footer footer footer footer footer';
  /* grid-column-gap: 10px; - if you want gap between the columns */;
}

.left,
.middle,
.right {
    border-width: thin;
    padding: 10px;
	height: auto;
}

/* Style the left column */
.left {
	grid-area: left;
}

/* Style the middle column */
.middle {
	grid-area: middle;
}

/* Style the right column */
.right {
	grid-area: right;
}

/* Style the footer */
.footer {
	grid-area: footer;
	background-color: black;
	padding: 10px;
	text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
	.grid-container {
		grid-template-areas: 'header header header header header header' 
      'left left left left left left' 
      'middle middle middle middle middle middle' 
      'right right right right right right' 
      'footer footer footer footer footer footer';
	}
}